.row {
  margin-top: 40px;
  @media screen and (min-width: 769px) {
  height: auto;
  }
}

footer {
  width: 100%;
  height: auto;
  // margin-top: 500px; //this margin top is only here to keep the footer away from the header while the body is being worked on.
  background-color: #333333;
  @media screen and (min-width: 769px) {
    height: auto;
  }
}


.footer-column-header {
  width: 100%;
  height: 30%;
  background-color: #695739;
}

.footer-column-title {
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 1px;
  font-family: "museo-sans",sans-serif;
  font-weight: 900;
  letter-spacing: 0.5px;
}

footer ul li {
  color: #CEB884;
  a {
    color: #CEB884;
  }
  h4 {
    color: white;
    border-bottom: solid 2px #695739;
    display: inline;
    padding-bottom: 2px;
  }
}

footer ul {
  margin-top: 10px;
  list-style-type: none;
  li {
    line-height: 25px;
  }
}

.last-column ul li {
  width: 100%;
  text-align: right;
  padding-right: 2%;
  .address {
      letter-spacing: 2px;
  }
}

.last-column {
  @media screen and (max-width: 989px) {
    float: right;
  }
}

.copyright {
  font-family: "museo-sans",sans-serif;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #CEB884;
  letter-spacing: 1px;
  @media screen and (min-width: 769px) {
    margin-bottom: 15px;
  }
}

.col-sm-12 {
  margin-bottom: 15px;
}

footer ul {
  padding-left: 5%;
  font-family: "museo-sans",sans-serif;
  font-weight: 700;
}
